<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases> <package name="com.xyjr.common.entity" /> </typeAliases> -->
	<!-- <typeHandlers> -->
	<!-- <typeHandler handler="com.xyjr.common.util.ShareHandler"/> -->
	<!-- </typeHandlers> -->
	<!-- <plugins> -->
	<!-- <plugin interceptor="com.shove.mybatis.plugins.page.pagehelper.PageHelper"> -->
	<!-- <property name="dialect" value="mysql" /> -->
	<!-- </plugin> -->
	<!-- </plugins> -->
	<mappers>

	</mappers>
</configuration>