<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/task  
        http://www.springframework.org/schema/task/spring-task-3.2.xsd  
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd ">
<!--  xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" -->
<!-- 	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" -->
<!-- 	xsi:schemaLocation="http://www.springframework.org/schema/beans -->
<!-- 	http://www.springframework.org/schema/beans/spring-beans.xsd -->
<!-- 	http://code.alibabatech.com/schema/dubbo -->
<!-- 	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"> -->
	
	<!--使Spring支持自动检测组件，如注解的Controller -->
	<context:component-scan base-package="com.common*" />
	<context:component-scan base-package="com.common.interceptor*" />
	<context:component-scan base-package="com.common.filter*" />
	<context:component-scan base-package="com.common.listener*" />
	<context:component-scan base-package="com.dorosdebby*" />
	
	<!-- 导入属性配置文件 -->
	<bean id="lqgServicePlaceholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="1"></property>
		<property name="ignoreUnresolvablePlaceholders" value="true"></property>
		<property name="locations">
			<list>
				<value>classpath:**/*.properties</value>
			</list>
		</property>
	</bean>
	
	<import resource="applicationContext-mybatis.xml"/>
	<import resource="applicationContext-tx.xml"/>
</beans>